.event-div{
    width: 100vw;
    max-height: 80%;
    min-width: 80%;
    display: flex;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.events{
    width: 100vw;
}
.accordion{
    margin: 5px;
    background-color: rgba(234,164,6,255);
    padding: 3px;
    max-height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.popup{
    width: 100vw; /* Full width of the viewport */
    background-color: rgba(200, 199, 199, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup.notvisible{
    display: none;
}
.popup-content{
      position: relative; /* Makes this container the reference for positioning */
      transform: translate(-50%, -50%); /* Center the child */
      text-align: center;
      background-color: white;
      border-radius: 10px;
      width: 90%;
      z-index: 1;
}
.audio{
    display: flex;
    flex-direction: row;
    color: white;
    min-width: 70vw;
    max-height: 25px;
    background-color: rgba(234,164,6,255);
    justify-content: space-between;
    border-radius: 20px;
    margin: 2px;
    align-items: center;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.events-list{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-list.notvisible{
    display: none;
}
